<div id="messages-page">
  {{#if errors}}
    <div class="notice error">
      <h2 class="notice-header">Error</h2>
      <ul class="error-list">
        {{#each errors}}
          {{#each this}}
            <li>{{@../key}} {{message}}</li>
          {{/each}}
        {{/each}}
      </ul>
    </div>
  {{/if}}

  <form id="message-form" method="POST" action="/messages">
    <textarea id="message-body-input" name="body" placeholder="Enter a message here."></textarea>
    <button type="submit">Post Message</button>
  </form>

{{!-- <form method="post" enctype="multipart/form-data" action="/messages">
  <div>
    <label for="image">Choose image to upload</label>
    <input type="file" id="image" name="image" accept=".jpg, .jpeg, .png">
  </div>
  <div>
    <button>Submit</button>
  </div>
</form> --}}
{{!-- order_direction={{toggle orderDirection 'ASC' 'DESC'--}}

  <div id="messages">
    <form action="/messages" method="POST">
      <label for="orderDirection">Sort Posts By:</label>
      <select name="orderDirection" id="orderDirection">
        <option value="ASC">Oldest</option>
        <option value="DESC">Newest</option>
      </select>
      <input type="submit" value="Submit">
    </form>


    {{#unless messages}}
      <p>Sorry, no messages. :(</p>
    {{else}}
      <ol class="message-list">
        {{#each messages}}
          <li>
            <div class="message-body">
              {{body}}
            </div>
            <div class="message-timestamp">
              Posted on {{created_at}}
            </div>
          </li>
        {{/each}}
      </ol>
    {{/unless}}
  </div>
</div>
